*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  border: none;
  background-color: violet;
  color: #333;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: green;
  color: #eee;
}

.ml-auto {
  margin-left: auto !important;
}

.site-nav {
  background-color: black;
}

.site-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: start;
  padding: 1em;
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #eee;
  padding: 0.5em 1.5em;
  transition: all 0.3s;
}

.site-nav__link:hover {
  background-color: #333;
  border-radius: 0.5em;
}
